@using TestDevPace.Business.Models

@model IEnumerable<CustomerModel>

@{
    SearchAndSort searchAndSort = new SearchAndSort();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>DevPace Test Task</h1>
    <a href="/Auth/SignIn">Logut</a>
    <br>
    <br>

    <form action="/Customer/Sorted" method="post">
        <input type="search" name="text" placeholder="Input Value">
        <input type="submit" name="searchButton" value="Search"> <br><br>

        <select name="SortType">
            <option value="null">Choose type of sorting</option>
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
        </select>
        <select name="Category">
            <option value="null">Choose category of sorting and searching</option>
            <option value="Id">Id</option>
            <option value="Name">Name</option>
            <option value="CompanyName">Company Name</option>
            <option value="Email">Email</option>
        </select>

    </form>
    <br>
    <br>
    <h3>Info about Customers</h3>
    <table border="1px">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Company</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Change</td>
        </tr>
        @foreach (var customer in Model)
        {

            <form>
            <tr>
                <td><input type="hidden" name="id" value="@customer.Id">@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.CompanyName</td>
                <td>@customer.Phone</td>
                <td>@customer.Email</td>
                <td>
                    <input type="submit" name="buttonUpdate" value="Update" formaction="/Customer/Update" formmethod="get">
                    <input type="submit" name="Delete" value="Delete" formaction="/Customer/Delete" formmethod="get">
                </td>
            </tr>
            </form>


        }
    </table>
</body>
</html>

